compiler/__pycache__
compiler/model_assembly.asm
compiler/mlp_model.onnx
compiler/dram.hex
.DS_Store
compiler/model.py
compiler/disassembled.asm
compiler/program.hex
obj_dir
.vscode
compiler/data
compiler/digit_model_weights.pth
dump.vcd
rtl/dram.hex